.slider {
  background-color: #eee;
}

.slide {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.slide__bg-img {
  position: absolute;
  top: 0;
  right: 0;
}

.slide__title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  max-width: 400px;
  width: 100%;
  margin: 78px 0 0 0;
}

.slide__subtitle {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 400px;
  width: 100%;
  margin: 25px 0 38px;
}

.slide__button {
  margin-bottom: 80px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  border: none;
  border-radius: 3px;
  background-color: #FB565A;
  padding: 17px 54px 15px;
  cursor: pointer;
}